faiss_cpu==1.10.0
fastembed==0.6.1
fuzzywuzzy==0.18.0
groq==0.24.0
joblib==1.4.2
negspacy==1.0.4
nltk==3.9.1
numpy==2.2.5
pandas==1.5.3
peft==0.15.2.dev0
rapidfuzz==3.13.0
ratelimit==2.2.1
scipy==1.15.2
scispacy==0.5.5
sent2vec==0.3.0
sentence_transformers==3.4.1
spacy==3.8.5
stanza==1.10.1
torch==2.5.1
tqdm==4.67.1
transformers==4.49.0
accelerate
bitsandbytes